/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FILTERS */

body {
    padding: 40px;
}

.filterSection,
.grid {
    max-width: 1200px;
    margin: auto;
}

.filterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {

    .filterSection {
        flex-direction: column-reverse;

    }
}

.filters {
    display: flex;
    gap: 20px;
}

.individualFilter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filterInstructions {
    max-width: 500px;
}

.filterInstructions h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.filterInstructions p {
    margin-bottom: 15px;
}

.filterButton {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 40px;
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cardCounter {
    text-align: center;
    margin-bottom: 30px;
}


/* CARD GRID */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.individualCard {
    border: 1px solid black;
    border-radius: 4px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cardBody {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 130%;
}